#bgbUI {
     position: fixed;
     top: 0;
     right: 0;
     width: 400px;
     padding: 32px;
     background-color:rgba(0,0,0,0.7);
     text-align: center;
     z-index: 500 
}

 .bgbUI_header {
     display: block;
     font-size: 32px 
}

 .bgbUI_version {
     font-size: 16px;
     padding-bottom: 16px 
}

 .bgbUI_dropdown {
     padding: 16px;
     background-color: #333;
     color: inherit;
     font-size: 20px;
     border: none;
     -webkit-appearance: none;
     -moz-appearance: value;
     appearance: none 
}

 .bgbUI_dropdown:hover {
     background-color: #282828;
     cursor: pointer 
}
 
